@model List<JToken>

@{
    ViewData["Title"] = "Products Page";
}

@section Styles {
    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
            text-align: center;
            vertical-align: middle;
        }

        .table td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">RESİM</th>
                <th scope="col">ÜRÜN ADI</th>
                <th scope="col">FİYAT</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <div style="height:100px; width:100%">
                            <img
                                style="width:100%; height:100%; object-fit:contain"
                                src="@Model[i]["imageUrl"]" alt="@Model[i]["name"] image" title="@Model[i]["name"]"
                            />
                        </div>
                    </td>
                    <td>
                        @Model[i]["name"]
                    </td>
                    <td>
                        @($"{Model[i]["price"]:F2}") TL
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

